<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/base/reset.css" />
    <link rel="stylesheet" href="/styles/base/normalize.css" />
    <link rel="stylesheet" href="/styles/base/variables.css" />


    <link rel="stylesheet" href="/styles/dashboard-products.css">

    <title>Editar Produtos</title>
</head>
<body>
    <%- include("../partials/header") %>

    <main>
        <section class="container__dashboard">
           <form action="?_method=PUT" method="post" enctype="multipart/form-data">
                <h3>Editar Produto</h3>

                <div class="container__dashboard-form">
                <div class="container__dashboard-input">
                    <label for="name">Nome:</label>
                    <input type="text" name="name" value="<%= product.name %>">
                </div>

                <div class="container__dashboard-input">
                    <label for="slug">Slug:</label>
                    <input type="text" name="slug" value="<%= product.slug %>">
                </div>

                <div class="container__dashboard-input">
                    <label for="title">Título:</label>
                    <input type="text" name="title" value="<%= product.title %>">
                </div>

                
                <div class="container__dashboard-input">
                    <label for="category">Categoria:</label>
                    <input type="text" name="category" value="<%= product.category %>">
                </div>

                <div class="container__dashboard-input">
                    <label for="department">Departamento:</label>
                    <input type="text" name="department" value="<%= product.department %>">
                </div>

                <div class="container__dashboard-input input-banner">
                    <label for="productionBanner">Banner produto</label>
                    <input type="file" name="productionBanner" id="productionBanner">
                </div>

                <div class="container__dashboard-input">
                    <label for="description">Descrição:</label>
                    <input type="text" name="description" value="<%= product.description %>">
                </div>

                <div class="container__dashboard-input">
                    <label for="manufacturer">Fabricante:</label>
                    <input type="text" name="manufacturer" value="<%= product.manufacturer %>">
                </div>

                <div class="container__dashboard-input">
                    <label for="brand">Marca:</label>
                    <input type="text" name="brand" value="<%= product.brand %>">
                </div>

                <div class="container__dashboard-input">
                    <label for="character">Personagem:</label>
                    <input type="text" name="character" value="<%= product.character %>">
                </div>

                <div class="container__dashboard-input">
                    <label for="material">Material:</label>
                    <input type="text" name="material" value="<%= product.material %>">
                </div>

                <div class="container__dashboard-input">
                    <label for="weight">Peso:</label>
                    <input type="text" name="weight" value="<%= product.weight %>">
                </div>

                <div class="container__dashboard-input">
                    <label for="height">Altura:</label>
                    <input type="text" name="height" value="<%= product.height %>">
                </div>

                <div class="container__dashboard-input">
                    <label for="width">Largura:</label>
                    <input type="text" name="width" value="<%= product.width %>">
                </div>

                
                <div class="container__dashboard-input">
                    <label for="depth">Profundidade:</label>
                    <input type="text" name="depth" value="<%= product.depth %>">
                </div>

                <div class="container__dashboard-input">
                    <label for="fullPrice">Preço cheio:</label>
                    <input type="text" name="fullPrice" value="<%= product.fullPrice %>">
                </div>
                </div>
                
                <button type="submit">Atualizar</button>
           </form>

           <form method="post" action="?_method=DELETE"> 
                <button id="delete-button" type="submit">Excluir</button>
           </form>
        </section>
    </main>

    <%- include("../partials/copyright") %>
</body>