<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/base/reset.css" />
    <link rel="stylesheet" href="/styles/base/normalize.css" />
    <link rel="stylesheet" href="/styles/base/variables.css" />

    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/item.css" />

    <link rel="stylesheet" href="/styles/partials/main-footer.css">

    <title>Loja | Disney Brasil</title>
</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <section id="star-wars">
                <div class="products__banner">
                    <div class="products__banner__title">
                        <h2>StarWars</h2>
                        <div class="products__banner__buttons">
                            <a href="#"><img src="/images/icons/ver-mais-produtos.svg" alt="ver-mais-produtos"></a>
                            <a href="/produtos/starwars" class="products__banner__buttons--see-more">Veja
                                mais produtos
                                <span>
                                    StarWars
                                </span>
                            </a>
                            <a href="#"><img src="/images/icons/ir-para-topo.svg" alt="ir-para-topo"></a>
                            <a href="#" class="products__banner__buttons--go-top">Ir para o topo</a>
                        </div>
                    </div>
                    <img class="products__banner__img"
                        src="/images/banners/starwars/banner-starwars-image1-darthVader.jpg"
                        alt="Anúncio da nova linha de produtos da marca StarWars" />
                </div>
                <div class="products__card">
                    <div>
                        <a href="#" id="back-button"><img src="/images/icons/left-arrow.svg" alt="back-button"></a>
                        <a href="#" id="next-button"><img src="/images/icons/right-arrow.svg" alt="next-button"></a>
                    </div>

                    <div class="products__card__area">
                        <% for (let product of productData) { %>
                            <% if(product.category==="StarWars" ) { %>
                                <div class="products__card-geral">
                                <div class="products__card__item"
                                    onclick="location.href='/produtos/<%= product.id %>/<%= product.slug %>'"
                                    style="cursor: pointer;">
                                    <img class="products__card__img"
                                        src="/images/products-categories/<%= product.category %>/<%= product.slug %>-image1.webp"
                                        alt="<%= product.name %>" />
                                    <div class="products__card__info">
                                        <a href="#">
                                            <%= product.name %>
                                        </a>
                                        <% for (let productPrice of product.productPromotions) { %>
                                            <p><span id="real">R$</span>
                                                <%= productPrice.promotionalPrice %>
                                            </p>
                                            <span>
                                                <%= productPrice.paymentsConditions %>x de R$ <%=
                                                        productPrice.paymentsValues %>
                                            </span>
                                            <% } %>
                                            
                                    </div>
                                </div>
                                <% if (user.typeId == 1) { %>
                                    <div class="button-admin"
                                    onclick="location.href='/produtos/dashboard/updateProduct/<%= product.id %>'">
                                        <a href="#"><img src="/images/icons/admin-edit_icon.svg" alt="edit"></a>
                                    </div>
                                <% } %>
                                </div>
                                <% } %>
                                    <% } %>
                    </div>

                </div>
            </section>

            <section id="princess">
                <div class="products__banner">
                    <div class="products__banner__title">
                        <h2>Princesas</h2>
                        <div class="products__banner__buttons">
                            <a href="#"><img src="/images/icons/ver-mais-produtos.svg" alt="ver-mais-produtos"></a>
                            <a href="/produtos/princesas" class="products__banner__buttons--see-more">Veja
                                mais produtos
                                <span>
                                    Princesas
                                </span>
                            </a>
                            <a href="#"><img src="/images/icons/ir-para-topo.svg" alt="ir-para-topo"></a>
                            <a href="#" class="products__banner__buttons--go-top">Ir para o topo</a>
                        </div>
                    </div>
                    <img class="products__banner__img"
                        src="/images/banners/princess/banner-princess-image1-princess.jpg"
                        alt="Anúncio da nova linha de produtos da marca Princesas" />
                </div>
                <div class="products__card">
                    <div>
                        <a href="#" id="back-button"><img src="/images/icons/left-arrow.svg" alt="back-button"></a>
                        <a href="#" id="next-button"><img src="/images/icons/right-arrow.svg" alt="next-button"></a>
                    </div>

                    <div class="products__card__area">
                        <% for (let product of productData) { %>
                            <% if(product.category==="Princesas" ) { %>
                                <div class="products__card-geral">
                                <div class="products__card__item"
                                    onclick="location.href='/produtos/<%= product.id %>/<%= product.slug %>'"
                                    style="cursor: pointer;">
                                    <img class="products__card__img"
                                        src="/images/products-categories/<%= product.category %>/<%= product.slug %>-image1.webp"
                                        alt="<%= product.name %>" />
                                    <div class="products__card__info">
                                        <a href="#">
                                            <%= product.name %>
                                        </a>
                                        <% for (let productPrice of product.productPromotions) { %>
                                            <p><span id="real">R$</span>
                                                <%= product.fullPrice %>
                                            </p>
                                            <span>
                                                <%= productPrice.paymentsConditions %>x de R$ <%=
                                                        productPrice.paymentsValues %>
                                            </span>
                                            <% } %>
                                    </div>
                                    </div>
                                    <% if (user.typeId == 1) { %>
                                        <div class="button-admin"
                                        onclick="location.href='/produtos/dashboard/updateProduct/<%= product.id %>'">
                                            <a href="#"><img src="/images/icons/admin-edit_icon.svg" alt="edit"></a>
                                        </div>
                                      <% } %>
                                </div>
                                <% } %>
                                <% } %>
                    </div>

                </div>
            </section>

            <section id="marvel">
                <div class="products__banner">
                    <div class="products__banner__title">
                        <h2>Marvel</h2>
                        <div class="products__banner__buttons">
                            <a href="#"><img src="/images/icons/ver-mais-produtos.svg" alt="ver-mais-produtos"></a>
                            <a href="/produtos/marvel" class="products__banner__buttons--see-more">Veja
                                mais produtos
                                <span>
                                    Marvel
                                </span>
                            </a>
                            <a href="#"><img src="/images/icons/ir-para-topo.svg" alt="ir-para-topo"></a>
                            <a href="#" class="products__banner__buttons--go-top">Ir para o topo</a>
                        </div>
                    </div>
                    <img class="products__banner__img"
                        src="/images/banners/marvel/banner-marvel-image1-heroesTogether.png"
                        alt="Anúncio da nova linha de produtos da marca Marvel" />
                </div>
                <div class="products__card">
                    <div>
                        <a href="#" id="back-button"><img src="/images/icons/left-arrow.svg" alt="back-button"></a>
                        <a href="#" id="next-button"><img src="/images/icons/right-arrow.svg" alt="next-button"></a>
                    </div>

                    <div class="products__card__area">
                        <% for (let product of productData) { %>
                            <% if(product.category==="Marvel" ) { %>
                                <div class="products__card-geral">
                                <div class="products__card__item"
                                    onclick="location.href='/produtos/<%= product.id %>/<%= product.slug %>'"
                                    style="cursor: pointer;">
                                    <img class="products__card__img"
                                        src="/images/products-categories/<%= product.category %>/<%= product.slug %>-image1.webp"
                                        alt="<%= product.name %>" />
                                    <div class="products__card__info">
                                        <a href="#">
                                            <%= product.name %>
                                        </a>
                                        <% for (let productPrice of product.productPromotions) { %>
                                            <p><span id="real">R$</span>
                                                <%= productPrice.promotionalPrice %>
                                            </p>
                                            <span>
                                                <%= productPrice.paymentsConditions %>x de R$ <%=
                                                        productPrice.paymentsValues %>
                                            </span>
                                            <% } %>
                                    </div>
                                </div>
                                <% if (user.typeId == 1) { %>
                                    <div class="button-admin"
                                    onclick="location.href='/produtos/dashboard/updateProduct/<%= product.id %>'">
                                        <a href="#"><img src="/images/icons/admin-edit_icon.svg" alt="edit"></a>
                                    </div>
                                  <% } %>
                                </div>
                                <% } %>
                                    <% } %>
                    </div>

                </div>
            </section>

            <section id="classicos">
                <div class="products__banner">
                    <div class="products__banner__title">
                        <h2>Clássicos</h2>
                        <div class="products__banner__buttons">
                            <a href="#"><img src="/images/icons/ver-mais-produtos.svg" alt="ver-mais-produtos"></a>
                            <a href="/produtos/classicos" class="products__banner__buttons--see-more">Veja
                                mais produtos
                                <span>
                                    Clássicos
                                </span>
                            </a>
                            <a href="#"><img src="/images/icons/ir-para-topo.svg" alt="ir-para-topo"></a>
                            <a href="#" class="products__banner__buttons--go-top">Ir para o topo</a>
                        </div>
                    </div>
                    <img class="products__banner__img"
                        src="/images/banners/classic/banner-classic-image1-minnieWithMickey.png"
                        alt="Anúncio da nova linha de produtos da marca Marvel" />
                </div>
                <div class="products__card">
                    <div>
                        <a href="#" id="back-button"><img src="/images/icons/left-arrow.svg" alt="back-button"></a>
                        <a href="#" id="next-button"><img src="/images/icons/right-arrow.svg" alt="next-button"></a>
                    </div>

                    <div class="products__card__area">
                        <% for (let product of productData) { %>
                            <% if(product.category==="Classicos" ) { %>
                                <div class="products__card-geral">
                                <div class="products__card__item"
                                    onclick="location.href='/produtos/<%= product.id %>/<%= product.slug %>'"
                                    style="cursor: pointer;">
                                    <img class="products__card__img"
                                        src="/images/products-categories/<%= product.category %>/<%= product.slug %>-image1.webp"
                                        alt="<%= product.name %>" />
                                    <div class="products__card__info">
                                        <a href="#">
                                            <%= product.name %>
                                        </a>
                                        <% for (let productPrice of product.productPromotions) { %>
                                            <p><span id="real">R$</span>
                                                <%= productPrice.promotionalPrice %>
                                            </p>
                                            <span>
                                                <%= productPrice.paymentsConditions %>x de R$ <%=
                                                        productPrice.paymentsValues %>
                                            </span>
                                            <% } %>
                                    </div>
                                </div>
                                <% if (user.typeId == 1) { %>
                                    <div class="button-admin"
                                    onclick="location.href='/produtos/dashboard/updateProduct/<%= product.id %>'">
                                        <a href="#"><img src="/images/icons/admin-edit_icon.svg" alt="edit"></a>
                                    </div>
                                  <% } %>
                                </div>
                                <% } %>
                                    <% } %>
                    </div>

                </div>
            </section>

            <%- include("../partials/main-footer") %>
        </main>

        <%- include("../partials/footer") %>
            <%- include("../partials/copyright") %>
</body>

</html>